/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

@import "../_shared.scss";

$font-size-print: 12px;
$font-size-small-print: 9px;

$site-background: #fee;
$hover-background: #e2f4ff;

body
{
  @include padding-inline-start(1.5em);

  @media print
  {
    @include padding-inline-start(0);
  }
}

body,
input,
button
{
  @media print
  {
    font-size: $font-size-print;
  }
}

pre
{
  white-space: pre-line;
  margin: $block-padding 0;
}

dl
{
  max-height: 200px;
  overflow-y: scroll;
}

dt,
dd
{
  font-size: $font-size-small;
}

.import,
.print
{
  min-width: $large-icon-size;
  min-height: $large-icon-size;
  background-size: $large-icon-size;
  background-repeat: no-repeat;
  margin: 1px;

  @media print
  {
    display: none;
  }
}

.to-clipboard-link,
.password-remove-link
{
  min-width: $icon-size;
  min-height: $icon-size;
  background-size: $icon-size;
  background-repeat: no-repeat;
  margin: 1px;

  @media print
  {
    display: none;
  }
}

.title-container
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title
{
  flex-grow: 1;
  font-size: 120%;
}

.global-actions
{
  display: flex;
  flex-direction: row;
}

.options
{
  float: right;
  margin-inline-start: 3em;
  @media print
  {
    display: none;
  }
}

.intro
{
  @media print
  {
    display: none;
  }
}

.shortcuts
{
  position: fixed;
  top: 5px;
  width: 1em;

  border: 1px solid black;
  padding: 0 $block-padding;
  text-align: center;
  font-size: 80%;

  :root:not([dir="rtl"]) &
  {
    left: 0;
    border-left-width: 0;
    border-top-right-radius: $block-padding;
    border-bottom-right-radius: $block-padding;
  }

  :root[dir="rtl"] &
  {
    right: 0;
    border-right-width: 0;
    border-top-left-radius: $block-padding;
    border-bottom-left-radius: $block-padding;
  }

  & > a
  {
    display: block;
    margin: 5px 0;
  }

  @media print
  {
    display: none;
  }
}

.import
{
  background-image: url("../images/import.svg");
}

.print
{
  background-image: url("../images/ionicons/md-print.svg");
}

.import-menu-entry
{
  font-size: $font-size-small;
  color: $text-color;
  text-decoration: none;

  &:hover
  {
    background-color: $hover-background;
  }
}

.list
{
  clear: both;

  @media print
  {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }
}

.site-container
{
  border: 1px solid black;
  border-radius: $border-radius;
  margin: 10px 0;

  & > *
  {
    padding: 0 $block-padding;
  }

  @media print
  {
    page-break-inside: avoid;
  }
}

.site-name
{
  font-weight: bold;
  background-color: $site-background;
  border-radius: $border-radius;
  padding-top: 2px;
  padding-bottom: 2px;
  position: sticky;
  top: 0;

  @media print
  {
    background-color: transparent;
  }

  & > a
  {
    @media print
    {
      color: inherit;
      text-decoration: none;
    }
  }
}

.password-info-container
{
  border-top: 1px solid #888;

  &:hover
  {
    background-color: $hover-background;
  }

  @media print
  {
    page-break-inside: avoid;
  }
}

.password-container
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.password-title
{
  flex-grow: 1;
  width: 0;
  font-weight: bold;
}

.to-clipboard-link
{
  background-image: url("../images/ionicons/md-clipboard.svg");
}

.password-value
{
  flex-grow: 1;
  width: 0;
}

.password-remove-link
{
  background-image: url("../images/ionicons/md-trash.svg");
}

.password-info
{
  @include margin-inline-start(5em);
}

.notes
{
  white-space: pre-wrap;
}

.warning,
.success
{
  margin-top: 2px;
}

.exportDataFrame
{
  visibility: collapse;
  width: 0;
  height: 0;
  border-width: 0;
}

.modalOverlay-inner
{
  box-sizing: border-box;
  width: 50%;
  min-width: 20em;
}

.in-progress
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinning-wheel
{
  $image-size: 200px;
  min-width: $image-size;
  min-height: $image-size;
  background-size: $image-size;
  background-repeat: no-repeat;
  background-image: url("../images/circles.svg");
}

.button-container
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
}
