/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

@import "../_shared.scss";

:root
{
  margin: 0;
  min-width: 600px;
}

body
{
  margin: 0;
  padding: 0 10px;
}

h1
{
  font-size: 160%;
}
