/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size: 24px;
$font-size-small: 16px;
$font-size-print: 12px;
$font-size-small-print: 9px;
$text-color: #000;
$error-text: #f44;
$background-color: #fff;
$site-background: #fee;
$hover-background: #e2f4ff;
$success-background: #cfc;
$block-padding: 5px;
$inline-spacing: 5px;
$border-radius: 5px;
$dialog-padding: 20px;
$icon-size: 32px;

@mixin padding-inline-start($length)
{
  :root:not([dir="rtl"]) &
  {
    padding-left: $length;
  }

  :root[dir="rtl"] &
  {
    padding-right: $length;
  }
}

@mixin margin-inline-start($length)
{
  :root:not([dir="rtl"]) &
  {
    margin-left: $length;
  }

  :root[dir="rtl"] &
  {
    margin-right: $length;
  }
}

@mixin margin-inline-end($length)
{
  :root:not([dir="rtl"]) &
  {
    margin-right: $length;
  }

  :root[dir="rtl"] &
  {
    margin-left: $length;
  }
}

body
{
  background-color: $background-color;
  color: $text-color;
  @include padding-inline-start(1.5em);

  @media print
  {
    @include padding-inline-start(0);
  }
}

body,
input,
button
{
  font-family: $font-family;
  font-size: $font-size;

  @media print
  {
    font-size: $font-size-print;
  }
}

input[type="checkbox"]
{
  width: $font-size;
  height: $font-size;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0;
  @include margin-inline-end($inline-spacing);
}

input[type="checkbox"]:checked
{
  background-image: url(../images/checkmark.svg);
  background-size: $font-size - 4px;
  background-repeat: no-repeat;
  background-position: center;
}

#export,
#import,
#print,
.to-clipboard-link,
.password-remove-link
{
  min-width: $icon-size;
  min-height: $icon-size;
  background-size: $icon-size;
  background-repeat: no-repeat;

  @media print
  {
    display: none;
  }
}

#title
{
  font-size: 120%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#title-text
{
  flex-grow: 1;
}

#options
{
  float: right;
  margin-inline-start: 3em;
  @media print
  {
    display: none;
  }
}

#intro
{
  @media print
  {
    display: none;
  }
}

#shortcuts
{
  position: fixed;
  top: 5px;
  width: 1em;

  border: 1px solid black;
  padding: 0 $block-padding;
  text-align: center;
  font-size: 80%;

  @media print
  {
    display: none;
  }
}

:root:not([dir="rtl"]) #shortcuts
{
  left: 0;
  border-left-width: 0;
  border-top-right-radius: $block-padding;
  border-bottom-right-radius: $block-padding;
}

:root[dir="rtl"] #shortcuts
{
  right: 0;
  border-right-width: 0;
  border-top-left-radius: $block-padding;
  border-bottom-left-radius: $block-padding;
}

#shortcuts > a
{
  display: block;
  margin: 5px 0;
}

#export
{
  background-image: url(../images/ios-download.svg);
}

#import
{
  background-image: url(../images/ios-upload.svg);
}

#print
{
  background-image: url(../images/ios-printer.svg);
}

#list
{
  @media print
  {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }
}

.site-container
{
  border: 1px solid black;
  border-radius: $border-radius;
  margin: 10px 0;

  @media print
  {
    page-break-inside: avoid;
  }
}

.site-container > *
{
  padding: 0 $block-padding;
}

.site-name
{
  font-weight: bold;
  background-color: $site-background;
  border-radius: $border-radius;
  padding-top: 2px;
  padding-bottom: 2px;
  position: sticky;
  top: 0;

  @media print
  {
    background-color: transparent;
  }
}

.password-info-container
{
  border-top: 1px solid #888;

  @media print
  {
    page-break-inside: avoid;
  }
}

.password-info-container:hover
{
  background-color: $hover-background;
}

.password-container
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-name-container
{
  display: flex;
  flex-grow: 1;
  width: 0;
}

.to-clipboard-link
{
  background-image: url(../images/archive.svg);
}

.user-name
{
  font-weight: bold;
}

.password-revision::before
{
  content: "#";
}

.password-revision
{
  font-size: $font-size-small;
  vertical-align: text-top;

  @media print
  {
    font-size: $font-size-small-print;
  }
}

#list:not(.show-passwords) .password-value
{
  display: none;
}

.password-value
{
  flex-grow: 1;
  width: 0;
}

.password-remove-link
{
  background-image: url(../images/ios-close-outline.svg);
}

.password-info
{
  @include margin-inline-start(5em);
}

.password-type
{
  white-space: pre-wrap;
}

.password-type.generated
{
  @media print
  {
    display: none;
  }
}

.password-type.generated-print:not([hidden])
{
  display: none;
  @media print
  {
    display: block;
  }
}

#list:not(.show-notes) .notes
{
  display: none;
}

.success
{
  margin-top: 2px;
  background-color: $success-background;
  border-radius: $border-radius;
}

#exportDataFrame
{
  visibility: collapse;
  width: 0;
  height: 0;
  border-width: 0;
}

#modalOverlay:not([hidden])
{
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

#modalOverlay > *
{
  display: none;
}

#modalOverlay > [active="true"]
{
  display: flex;
  flex-direction: column;
  padding: $dialog-padding;
  margin: auto;
  background-color: $background-color;
  border: 1px solid black;
  border-radius: $border-radius;
}

#enter-master
{
  width: 50%;
  min-width: 20em;
}

#in-progress
{
  align-items: center;
  justify-content: center;
}

#spinning-wheel
{
  $image-size: 200px;
  min-width: $image-size;
  min-height: $image-size;
  background-size: $image-size;
  background-repeat: no-repeat;
  background-image: url(../images/circles.svg);
}

.error
{
  font-size: $font-size-small;
  color: $error-text;
}

.button-container
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
}
