/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

:root
{
  --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-size: 20px;
  --text-color: #000;
  --background-color: #fff;
  --site-background: #fee;
  --hover-background: #C0E0FF;
  --success-background: #cfc;
  --block-padding: 5px;
  --icon-size: 32px;
}

body
{
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--background-color);
  color: var(--text-color);
}

h1
{
  font-size: 120%;
}

.site-container
{
  border: 1px solid black;
  border-radius: var(--block-padding);
  margin: 10px;
}

.site-container > *
{
  padding: 0px var(--block-padding);
}

.site-name
{
  font-weight: bold;
  background-color: var(--site-background);
  border-radius: var(--block-padding);
  padding-top: 2px;
  padding-bottom: 2px;
  position: sticky;
  top: 0px;
}

.password-container
{
  border-top: 1px solid #888;
}

.password-container:hover
{
  background-color: var(--hover-background);
}

.password-name-container
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.password-name
{
  font-weight: bold;
  flex-grow: 1;
}

.to-clipboard-link,
.password-remove-link
{
  min-width: var(--icon-size);
  min-height: var(--icon-size);
  background-size: var(--icon-size);
  background-repeat: no-repeat;
}

.to-clipboard-link
{
  background-image: url(../images/toclipboard64.png);
}

.password-remove-link
{
  background-image: url(../images/remove64.png);
}

.password-info
{
  margin-left: 5em;
}

.password-type
{
  white-space: pre-wrap;
}

.success
{
  margin-top: 2px;
  background-color: var(--success-background);
  border-radius: var(--block-padding);
}
