/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

:root
{
  --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-size: 20px;
  --text-color: #000;
  --background-color: #fff;
  --hover-background: #C0E0FF;
}

body
{
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--background-color);
  color: var(--text-color);
}

h1
{
  font-size: 120%;
}

#list
{
  width: 100%;
  border-collapse: collapse;
}

tbody > tr:hover
{
  background-color: var(--hover-background);
}

td,
th
{
  border: 1px solid black;
  padding: 5px;
  white-space: pre-wrap;
  vertical-align: top;
}
