/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

:root
{
  --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-size: 20px;
  --text-color: #000;
  --background-color: #fff;
  --site-background: #fee;
  --hover-background: #C0E0FF;
}

body
{
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--background-color);
  color: var(--text-color);
}

h1
{
  font-size: 120%;
}

.site-container
{
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}

.site-container > *
{
  padding: 0px 5px;
}

.site-name
{
  font-weight: bold;
  background-color: var(--site-background);
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  position: sticky;
  top: 0px;
}

.password-container
{
  border-top: 1px solid #888;
}

.password-container:hover
{
  background-color: var(--hover-background);
}

.password-name
{
  font-weight: bold;
}

.password-container > :not(.password-name)
{
  margin-left: 5em;
}

.password-type
{
  white-space: pre-wrap;
}
