/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

@import "../_shared.scss";

$body-width: 600px;
$page-padding: 10px;
$menu-border-width: 1px;

:root
{
  margin: 0;
}

body
{
  width: $body-width;
  margin: 0 auto;
}

h1
{
  font-size: 100%;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: $block-spacing;
}

a
{
  text-decoration: none;

  &:hover
  {
    text-decoration: underline;
  }
}

.page
{
  display: flex;
  flex-direction: column;
  padding: $page-padding;
}

.special-site
{
  font-style: italic;
}

.block-start,
.button-container,
.link-container
{
  margin-top: $block-spacing;
}

.button-container:not([hidden]),
.link-container:not([hidden])
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link-container
{
  font-size: $font-size-small;
}

.unknown-error-details
{
  font-size: $font-size-small;
  white-space: pre-wrap;
}

.password-score
{
  display: flex;
  flex-direction: row;
  align-content: stretch;

  *
  {
    flex-grow: 1;
    background-color: #ccc;
    height: 5px;
    margin: 2px;
  }
}

.password-score[data-score="0"]
{
  .password-score-0
  {
    background-color: #f00;
  }
}

.password-score[data-score="1"]
{
  .password-score-0,
  .password-score-1
  {
    background-color: #f80;
  }
}

.password-score[data-score="2"]
{
  .password-score-0,
  .password-score-1,
  .password-score-2
  {
    background-color: #ee0;
  }
}

.password-score[data-score="3"]
{
  .password-score-0,
  .password-score-1,
  .password-score-2,
  .password-score-3
  {
    background-color: #cf0;
  }
}

.password-score[data-score="4"]
{
  .password-score-0,
  .password-score-1,
  .password-score-2,
  .password-score-3,
  .password-score-4
  {
    background-color: #0f0;
  }
}

.migration > p,
.migration > ul
{
  font-size: $font-size-small;
}

.migration > p
{
  margin: $block-spacing / 2 0;
}

.migration-in-progress
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.migration-spinning-wheel
{
  @include margin-inline-end($inline-spacing);
  $image-size: $font-size;
  min-width: $image-size;
  min-height: $image-size;
  background-size: $image-size;
  background-repeat: no-repeat;
  background-image: url(../images/circles.svg);
}

.password-list-header
{
  display: flex;
  flex-direction: column;
  margin-bottom: $block-spacing;
}

.tabs
{
  display: flex;
  flex-direction: row;

  & > :not(.tablist)
  {
    flex-grow: 1;
  }
}

.tablist
{
  display: flex;
  flex-direction: column;
  background-color: #eee;
  @include padding-inline-start($inline-spacing);

  & > :first-child
  {
    height: $inline-spacing;
  }

  & > :not(.active)
  {
    @include border-end(1px solid #ccc);
  }
}

.tab
{
  min-width: $icon-size + 2 * $inline-spacing;
  min-height: $icon-size + 2 * $inline-spacing;
  background-size: $icon-size;
  background-repeat: no-repeat;
  background-position: 50%;
  border: 1px solid #eee;

  &.active
  {
    background-color: $background-color;
    border-color: #ccc;

    border-radius: $border-radius 0 0 $border-radius;
    border-right-color: $background-color;

    :root[dir="rtl"] &
    {
      border-radius: 0 $border-radius $border-radius 0;
      border-left-color: $background-color;
    }
  }

  &:not(.active):hover
  {
    background-color: #f8f8f8;
  }
}

.spacer
{
  flex-grow: 1;
}

.select-site
{
  background-image: url(../images/search.svg);
}

.password-list
{
  background-image: url(../images/md-list.svg);
}

.sync
{
  background-image: url(../images/md-sync.svg);

  &.failed:not(.active)
  {
    background-color: #fcc;
  }
}

.settings
{
  background-image: url(../images/md-settings.svg);
}

.lock
{
  background-image: url(../images/md-exit.svg);
}

.alias-container
{
  font-size: $font-size-small;
}

.password-list-container
{
  display: flex;
  flex-direction: column;
  padding: 1px;
  max-height: 300px;
  overflow: auto;
}

.password-container
{
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover
  {
    background-color: $hover-background;
  }
}

.user-name-container
{
  flex-grow: 1;
}

.password-revision::before
{
  content: "#";
}

.password-revision
{
  font-size: $font-size-small;
  vertical-align: text-top;
}

.iconic-link
{
  min-width: $icon-size;
  min-height: $icon-size;
  background-size: $icon-size;
  background-repeat: no-repeat;
}

a.iconic-link:hover
{
  outline: 1px solid #888;
}

.user-name-container.legacy-warning
{
  min-width: $icon-size;
  min-height: $icon-size;
  background-size: $icon-size;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("../images/md-warning.svg");
}

.password-menu-link
{
  background-image: url("../images/md-more.svg");
}

.password-menu-link.menuactive
{
  background-color: mix($background-color, $text-color, 70%);
}

.to-document-link
{
  background-image: url(../images/ios-color-wand.svg);
}

.to-clipboard-link
{
  background-image: url(../images/archive.svg);
}

.show-qrcode-link
{
  background-image: url(../images/ios-barcode-outline.svg);
}

.notes-link
{
  background-image: url(../images/ios-paper-outline.svg);
}

.upgrade-password-link,
.make-generated-link
{
  background-image: url(../images/arrow-up-a.svg);
}

.bump-revision-link
{
  background-image: url(../images/ios-refresh-empty.svg);
}

.password-remove-link
{
  background-image: url(../images/ios-close-outline.svg);
}

.password-menu-entry
{
  &:not([hidden])
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: $font-size-small;
    color: $text-color;
    text-decoration: none;
  }

  &:hover
  {
    background-color: $hover-background;
  }

  & > .iconic-link
  {
    @include margin-inline-end($inline-spacing);
  }
}

.password-menu-entry-container
{
  display: flex;
  flex-direction: row;

  & > .password-menu-entry
  {
    flex-grow: 1;

    &:first-child
    {
      @include padding-inline-end($inline-spacing);
      @include border-end(1px solid #ccc);
    }

    &:last-child
    {
      justify-content: flex-end;
      @include padding-inline-start($inline-spacing);
    }
  }
}

.add-password-link
{
  min-height: $icon-size;
  @include padding-inline-start($icon-size + $inline-spacing);
  background-image: url(../images/ios-plus-outline.svg);
  background-size: $icon-size;
  background-repeat: no-repeat;
}

.length-container,
.charsets-container
{
  display: flex;
  justify-content: space-between;
}

.warning.replacing,
.warning.legacy
{
  font-size: $font-size-small;
}

.change-password-revision,
.use-recovery,
.cancel-recovery
{
  font-size: $font-size-small;
}

#password-length
{
  flex-grow: 1;
}

.password-length-value
{
  min-width: 3ch;
}

.site-autocomplete
{
  border: $menu-border-width solid $text-color;
  padding: $block-padding;
  max-height: 8 * $font-size;
  overflow: auto;

  & > .site-entry
  {
    cursor: pointer;

    &.active,
    &:hover
    {
      background-color: $hover-background;
    }
  }
}

.recovery-code-accepted
{
  margin: 0;
  font-size: $font-size-small;
}

.recovery-code-strip
{
  margin: -2px $inline-spacing;
}

#recoveryInput
{
  min-height: 100px;
}

.qrcode-canvas-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#notes-textarea
{
  min-height: 300px;
}

.sync-section
{
  font-weight: bold;
}

.sync-explanation,
.remoteStorage-hosting-link
{
  font-size: $font-size-small;
}

.sync-provider-selection
{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.sync-provider-link
{
  font-size: 150%;
  font-weight: bold;
  margin-top: $block-spacing;
  color: $text-color;
}

.sync-provider-icon
{
  $height: 32px;
  display: inline-block;
  margin: 0 $inline-spacing;
  height: $height;
  background-size: auto $height;
  background-repeat: no-repeat;
}

.sync-provider-icon.dropbox
{
  width: 37.672px;
  background-image: url(../images/dropbox.svg);
}

.sync-provider-icon.gdrive
{
  width: 36.944px;
  background-image: url(../images/gdrive.svg);
}

.sync-provider-icon.remotestorage
{
  width: 27.723px;
  background-image: url(../images/remotestorage.svg);
}

.sync-failed
{
  color: $error-text;
}

.sync-error
{
  margin-top: $block-spacing;
}

.modalOverlay-inner
{
  box-sizing: border-box;
  max-width: $body-width;
}
