/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

@import "../_shared.scss";

$hover-background: #e2f4ff;

$body-width: 600px;
$body-padding: 10px;
$menu-border-width: 1px;

:root
{
  margin: 0;
}

body
{
  margin: 0;
  width: $body-width;
  padding: $body-padding;
}

h1
{
  font-size: 100%;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: $block-spacing;
}

a
{
  text-decoration: none;

  &:hover
  {
    text-decoration: underline;
  }
}

.page
{
  display: flex;
  flex-direction: column;
}

.special-site
{
  font-style: italic;
}

.block-start,
.button-container,
.link-container
{
  margin-top: $block-spacing;
}

.button-container:not([hidden]),
.link-container:not([hidden])
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link-container
{
  font-size: $font-size-small;
}

#unknown-error-details
{
  font-size: $font-size-small;
  white-space: pre-wrap;
}

#password-score
{
  display: flex;
  flex-direction: row;
  align-content: stretch;

  *
  {
    flex-grow: 1;
    background-color: #ccc;
    height: 5px;
    margin: 2px;
  }
}

#password-score[data-score="0"]
{
  #password-score-0
  {
    background-color: #f00;
  }
}

#password-score[data-score="1"]
{
  #password-score-0,
  #password-score-1
  {
    background-color: #f80;
  }
}

#password-score[data-score="2"]
{
  #password-score-0,
  #password-score-1,
  #password-score-2
  {
    background-color: #ee0;
  }
}

#password-score[data-score="3"]
{
  #password-score-0,
  #password-score-1,
  #password-score-2,
  #password-score-3
  {
    background-color: #cf0;
  }
}

#password-score[data-score="4"]
{
  #password-score-0,
  #password-score-1,
  #password-score-2,
  #password-score-3,
  #password-score-4
  {
    background-color: #0f0;
  }
}

#enter-master
{
  @include logo;
}

.migration > p,
.migration > ul
{
  font-size: $font-size-small;
}

.migration > p
{
  margin: $block-spacing / 2 0;
}

.migration-in-progress
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.migration-spinning-wheel
{
  @include margin-inline-end($inline-spacing);
  $image-size: $font-size;
  min-width: $image-size;
  min-height: $image-size;
  background-size: $image-size;
  background-repeat: no-repeat;
  background-image: url(../images/circles.svg);
}

#password-list-header
{
  margin-bottom: $block-spacing;
}

#password-list-site-container
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#password-list-site
{
  flex-grow: 1;
}

#select-site
{
  min-width: $icon-size;
  min-height: $icon-size;
  background-image: url(../images/search.svg);
  background-size: $icon-size;
  background-repeat: no-repeat;
  @include margin-inline-end($inline-spacing);
}

#add-alias,
#alias-container
{
  font-size: $font-size-small;
}

#password-list-container
{
  display: flex;
  flex-direction: column;
  padding: 1px;
  max-height: 300px;
  overflow: auto;
}

.password-container
{
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover
  {
    background-color: $hover-background;
  }
}

.user-name-container
{
  flex-grow: 1;
}

.password-revision::before
{
  content: "#";
}

.password-revision
{
  font-size: $font-size-small;
  vertical-align: text-top;
}

.iconic-link
{
  min-width: $icon-size;
  min-height: $icon-size;
  background-size: $icon-size;
  background-repeat: no-repeat;
}

.user-name-container.legacy-warning
{
  min-width: $icon-size;
  min-height: $icon-size;
  background-size: $icon-size;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("../images/android-warning.svg");
}

.password-menu-link
{
  background-image: url("../images/android-menu.svg");
}

.password-menu-link.menuactive
{
  background-color: mix($background-color, $text-color, 70%);
}

.to-document-link
{
  background-image: url(../images/ios-color-wand.svg);
}

.to-clipboard-link
{
  background-image: url(../images/archive.svg);
}

.show-qrcode-link
{
  background-image: url(../images/ios-barcode-outline.svg);
}

.notes-link
{
  background-image: url(../images/ios-paper-outline.svg);
}

.upgrade-password-link,
.make-generated-link
{
  background-image: url(../images/arrow-up-a.svg);
}

.bump-revision-link
{
  background-image: url(../images/ios-refresh-empty.svg);
}

.password-remove-link
{
  background-image: url(../images/ios-close-outline.svg);
}

.password-menu-entry
{
  &:not([hidden])
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: $font-size-small;
    color: $text-color;
    text-decoration: none;
  }

  &:hover
  {
    background-color: $hover-background;
  }

  & > .iconic-link
  {
    @include margin-inline-end($inline-spacing);
  }
}

:root.webclient .to-document-link,
:root.webclient #menu-to-document
{
  display: none;
}

#generate-password-link,
#stored-password-link
{
  min-height: $icon-size;
  @include padding-inline-start($icon-size + $inline-spacing);
  background-image: url(../images/ios-plus-outline.svg);
  background-size: $icon-size;
  background-repeat: no-repeat;
}

#generate-password-site,
#generate-password-user-name,
.length-container,
.charsets-container
{
  display: flex;
  justify-content: space-between;
}

#replace-password-warning,
#generate-legacy-warning
{
  font-size: $font-size-small;
}

.change-password-revision,
.use-recovery,
.cancel-recovery
{
  font-size: $font-size-small;
}

#password-length
{
  flex-grow: 1;
}

.password-length-value
{
  min-width: 3ch;
}

#site-autocomplete
{
  border: $menu-border-width solid $text-color;
  padding: $block-padding;
  max-height: 8 * $font-size;
  overflow: auto;

  & > .site-entry
  {
    cursor: pointer;

    &.active,
    &:hover
    {
      background-color: $hover-background;
    }
  }
}

.recovery-code-accepted
{
  margin: 0;
  font-size: $font-size-small;
}

.recovery-code-strip
{
  display: inline-block;
  $icon-size: $font-size-small;
  min-width: $icon-size;
  min-height: $icon-size;
  margin: -2px $inline-spacing;
  background-size: $icon-size;
  background-repeat: no-repeat;
  background-image: url("../images/close-round.svg");
}

.qrcode-canvas-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form
{
  display: flex;
  flex-direction: column;
}

#notes-textarea
{
  min-height: 300px;
}

.sync-section
{
  font-weight: bold;
}

.sync-explanation
{
  font-size: $font-size-small;
}

.sync-provider-selection
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sync-storage-provider
{
  height: 32px;
  margin-top: $block-spacing;
  cursor: pointer;
}

.sync-state-link.failed
{
  color: $error-text;
}

.sync-lastTime-container
{
  display: flex;
  flex-direction: row;
}

.sync-failed,
.sync-succeeded
{
  margin: 0 $inline-spacing;
}

.sync-failed
{
  color: $error-text;
}

.sync-button-container
{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.sync-error
{
  margin-top: $block-spacing;
}

.modalOverlay
{
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: $dialog-padding;
  z-index: 10000;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modalOverlay-inner
{
  margin: auto;
  background-color: $background-color;
  border: 1px solid black;
  border-radius: $border-radius;

  &.stretch
  {
    width: 100%;
  }

  & > :last-child
  {
    display: flex;
    flex-direction: column;
    padding: $dialog-padding;
    padding-top: max($dialog-padding - $font-size-small - $border-radius, 0);
  }
}

.modalOverlay-cancel-container
{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.modalOverlay-cancel
{
  margin: $border-radius;
  $icon-size: $font-size-small;
  min-width: $icon-size;
  min-height: $icon-size;
  background-size: $icon-size;
  background-repeat: no-repeat;
  background-image: url("../images/close-round.svg");

  &:hover
  {
    background-color: $hover-background;
  }
}
