/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

@import "../_shared.scss";

$hover-background: #e2f4ff;

$menu-arrow-height: 7px;
$menu-border-width: 1px;

:root
{
  margin: 0;
}

body
{
  margin: 0;
  width: 600px;
  padding: 10px;
}

h1
{
  font-size: 100%;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: $block-spacing;
}

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

.slide
{
  display: none;
}

.slide[data-active="true"]
{
  display: flex;
  flex-direction: column;
}

.special-site
{
  font-style: italic;
}

.block-start,
.button-container,
.link-container
{
  margin-top: $block-spacing;
}

.button-container:not([hidden]),
.link-container:not([hidden])
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link-container
{
  font-size: $font-size-small;
}

#unknown-error-details
{
  font-size: $font-size-small;
  white-space: pre-wrap;
}

#password-score
{
  display: flex;
  flex-direction: row;
  align-content: stretch;

  *
  {
    flex-grow: 1;
    background-color: #ccc;
    height: 5px;
    margin: 2px;
  }
}

#password-score[data-score="0"]
{
  #password-score-0
  {
    background-color: #f00;
  }
}

#password-score[data-score="1"]
{
  #password-score-0,
  #password-score-1
  {
    background-color: #f80;
  }
}

#password-score[data-score="2"]
{
  #password-score-0,
  #password-score-1,
  #password-score-2
  {
    background-color: #ee0;
  }
}

#password-score[data-score="3"]
{
  #password-score-0,
  #password-score-1,
  #password-score-2,
  #password-score-3
  {
    background-color: #cf0;
  }
}

#password-score[data-score="4"]
{
  #password-score-0,
  #password-score-1,
  #password-score-2,
  #password-score-3,
  #password-score-4
  {
    background-color: #0f0;
  }
}

#enter-master
{
  @include logo;
}

#migration > p,
#migration > ul
{
  font-size: $font-size-small;
}

#migration > p
{
  margin: $block-spacing / 2 0;
}

#migration-in-progress:not([hidden])
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#migration-spinning-wheel
{
  @include margin-inline-end($inline-spacing);
  $image-size: $font-size;
  min-width: $image-size;
  min-height: $image-size;
  background-size: $image-size;
  background-repeat: no-repeat;
  background-image: url(../images/circles.svg);
}

#password-list-header
{
  margin-bottom: $block-spacing;
}

#password-list-site-container
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#password-list-site
{
  flex-grow: 1;
}

#select-site
{
  min-width: $icon-size;
  min-height: $icon-size;
  background-image: url(../images/search.svg);
  background-size: $icon-size;
  background-repeat: no-repeat;
  @include margin-inline-end($inline-spacing);
}

#add-alias,
#alias-container
{
  font-size: $font-size-small;
}

#password-list-container
{
  display: flex;
  flex-direction: column;
  padding: 1px;
  max-height: 300px;
  overflow: auto;
}

.password-container
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.password-container:hover
{
  background-color: $hover-background;
}

.user-name-container
{
  flex-grow: 1;
}

.password-revision::before
{
  content: "#";
}

.password-revision
{
  font-size: $font-size-small;
  vertical-align: text-top;
}

.iconic-link
{
  min-width: $icon-size;
  min-height: $icon-size;
  background-size: $icon-size;
  background-repeat: no-repeat;
}

.user-name-container.legacy-warning
{
  min-width: $icon-size;
  min-height: $icon-size;
  background-size: $icon-size;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("../images/android-warning.svg");
}

.password-menu-link
{
  background-image: url("../images/android-menu.svg");
}

.password-menu-link[data-menuactive]
{
  background-color: 0.7 * $background-color + 0.3 * $text-color;
}

.to-document-link
{
  background-image: url(../images/ios-color-wand.svg);
}

.to-clipboard-link
{
  background-image: url(../images/archive.svg);
}

.show-qrcode-link
{
  background-image: url(../images/ios-barcode-outline.svg);
}

.notes-link
{
  background-image: url(../images/ios-paper-outline.svg);
}

.upgrade-password-link
{
  background-image: url(../images/arrow-up-a.svg);
}

.bump-revision-link
{
  background-image: url(../images/ios-refresh-empty.svg);
}

.password-remove-link
{
  background-image: url(../images/ios-close-outline.svg);
}

#password-menu
{
  display: flex;
  flex-direction: column;
  margin-top: $menu-arrow-height;
  border: $menu-border-width solid $text-color;
  border-radius: $border-radius;
  padding: $block-padding;
}

.menu-arrow
{
  position: relative;
  left: $icon-size / 2 - $menu-border-width - $block-padding - $menu-arrow-height;
  top: -($menu-arrow-height + $block-padding);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 $menu-arrow-height $menu-arrow-height $menu-arrow-height;
  border-color: transparent transparent $text-color transparent;
}

.menu-arrow::after
{
  $menu-arrow-inner-height: $menu-arrow-height - 1;
  content: "";
  position: relative;
  display: block;
  left: -$menu-arrow-inner-height;
  top: $menu-border-width;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 $menu-arrow-inner-height $menu-arrow-inner-height $menu-arrow-inner-height;
  border-color: transparent transparent $background-color transparent;
}

.password-menu-entry:not([hidden])
{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: $font-size-small;
  color: $text-color;
  text-decoration: none;
}

.password-menu-entry:hover
{
  background-color: $hover-background;
}

.password-menu-entry > .iconic-link
{
  @include margin-inline-end($inline-spacing);
}

:root.webclient .to-document-link,
:root.webclient #menu-to-document
{
  display: none;
}

#generate-password-link,
#stored-password-link
{
  min-height: $icon-size;
  @include padding-inline-start($icon-size + $inline-spacing);
  background-image: url(../images/ios-plus-outline.svg);
  background-size: $icon-size;
  background-repeat: no-repeat;
}

#generate-password-site,
#generate-password-user-name,
#length-container,
#charsets-container
{
  display: flex;
  justify-content: space-between;
}

#generate-legacy-warning
{
  font-size: $font-size-small;
}

#generate-change-password-revision,
#stored-change-password-revision,
#stored-use-recovery
{
  font-size: $font-size-small;
}

#generate-password-revision-container:not([hidden]),
#stored-password-revision-container:not([hidden])
{
  display: flex;
  flex-direction: column;
}

#password-length
{
  flex-grow: 1;
}

#password-length-value
{
  min-width: 3ch;
}

#site-autocomplete
{
  border: $menu-border-width solid $text-color;
  padding: $block-padding;
  max-height: 8 * $font-size;
  overflow: auto;
}

#site-autocomplete > [data-site]
{
  cursor: pointer;
}

#site-autocomplete > .active[data-site],
#site-autocomplete > [data-site]:hover
{
  background-color: $hover-background;
}

#recovery-code-accepted-container
{
  margin: 0;
  font-size: $font-size-small;
}

#recovery-code-accepted:empty + #recovery-code-strip
{
  display: none;
}

#recovery-code-strip
{
  display: inline-block;
  $icon-size: $font-size-small;
  min-width: $icon-size;
  min-height: $icon-size;
  margin: -2px $inline-spacing;
  background-size: $icon-size;
  background-repeat: no-repeat;
  background-image: url("../images/close-round.svg");
}

#qrcode-canvas
{
  align-self: center;
}

#notes-textarea
{
  min-height: 300px;
}

#sync-setup > label
{
  font-weight: bold;
}

#sync-setup > div
{
  font-size: $font-size-small;
}

#sync-provider-selection
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sync-storage-provider
{
  height: 32px;
  margin-top: $block-spacing;
  cursor: pointer;
}

#sync-state-link.failed
{
  color: $error-text;
}

#sync-lastTime-container
{
  display: flex;
  flex-direction: row;
}

#sync-lastTime-container:not(.succeeded) #sync-succeeded
{
  display: none;
}

#sync-lastTime-container:not(.failed) #sync-failed
{
  display: none;
}

#sync-failed
{
  color: $error-text;
}

#sync-status-container
{
  flex-grow: 1;
  margin: 0 $inline-spacing;
}

#sync-error
{
  margin-top: $block-spacing;
}

:root.webclient #sync-setup-link,
:root.webclient #sync-state-link
{
  display: none;
}
