/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size: 24px;
$font-size-small: 16px;

$text-color: #000;
$background-color: #fff;
$hover-background: #e2f4ff;
$warning-background: #faa;
$success-background: #cfc;
$error-text: #f44;

$block-spacing: 15px;
$block-padding: 5px;
$inline-spacing: 5px;
$icon-size: 32px;
$menu-arrow-height: 7px;
$menu-border-width: 1px;

:root
{
  margin: 0;
}

body
{
  margin: 0;
  width: 600px;
  padding: 10px;
  background-color: $background-color;
  color: $text-color;
}

body,
input,
button
{
  font-family: $font-family;
  font-size: $font-size;
}

input[type="checkbox"]
{
  width: $font-size;
  height: $font-size;
}

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

.slide
{
  display: none;
}

.slide[data-active="true"]
{
  display: flex;
  flex-direction: column;
}

.block-start,
.button-container,
.link-container
{
  margin-top: $block-spacing;
}

.warning
{
  background-color: $warning-background;
  border-radius: $block-padding;

  padding: $block-padding;
  padding-inline-start: $icon-size + $block-padding + $inline-spacing;
  -webkit-padding-start: $icon-size + $block-padding + $inline-spacing;
  background-image: url(../images/android-warning.svg);
  background-size: $icon-size;
  background-position: $block-padding $block-padding;
  background-repeat: no-repeat;
}

.success
{
  background-color: $success-background;
  border-radius: $block-padding;
}

.button-container,
.link-container
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link-container
{
  font-size: $font-size-small;
}

.error
{
  font-size: $font-size-small;
  color: $error-text;
}

#crypto-error
{
  font-size: 80%;
}

#password-score
{
  display: flex;
  flex-direction: row;
  align-content: stretch;

  *
  {
    flex-grow: 1;
    background-color: #ccc;
    height: 5px;
    margin: 2px;
  }
}

#password-score[data-score="0"]
{
  #password-score-0
  {
    background-color: #f00;
  }
}

#password-score[data-score="1"]
{
  #password-score-0,
  #password-score-1
  {
    background-color: #f80;
  }
}

#password-score[data-score="2"]
{
  #password-score-0,
  #password-score-1,
  #password-score-2
  {
    background-color: #ee0;
  }
}

#password-score[data-score="3"]
{
  #password-score-0,
  #password-score-1,
  #password-score-2,
  #password-score-3
  {
    background-color: #cf0;
  }
}

#password-score[data-score="4"]
{
  #password-score-0,
  #password-score-1,
  #password-score-2,
  #password-score-3,
  #password-score-4
  {
    background-color: #0f0;
  }
}

#site-container
{
  margin-bottom: $block-spacing;
}

#site-name-container
{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#site
{
  flex-grow: 1;
}

#site-edit-accept,
#site-edit-cancel
{
  min-width: $icon-size;
  min-height: $icon-size;
  margin-inline-end: $inline-spacing;
  -webkit-margin-end: $inline-spacing;
  background-size: $icon-size;
  background-repeat: no-repeat;
}

#site-edit-cancel
{
  background-image: url(../images/close-round.svg);
}

#site[readonly] + #site-edit-cancel
{
  display: none;
}

#site-edit-accept
{
  background-image: url(../images/checkmark-round.svg);
}

#site[readonly] + * + #site-edit-accept
{
  display: none;
}

#site-edit-container
{
  font-size: $font-size-small;
}

#password-list-container
{
  display: flex;
  flex-direction: column;
  padding: 1px;
  max-height: 300px;
  overflow: auto;
}

.password-container
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.password-container:hover
{
  background-color: $hover-background;
}

.user-name-container
{
  flex-grow: 1;
}

.password-revision::before,
#notes-password-revision::before
{
  content: "#";
}

.password-revision,
#notes-password-revision
{
  font-size: $font-size-small;
  vertical-align: text-top;
}

.iconic-link
{
  min-width: $icon-size;
  min-height: $icon-size;
  background-size: $icon-size;
  background-repeat: no-repeat;
}

.password-menu-link
{
  background-image: url("../images/android-menu.svg");
}

.password-menu-link[data-menuactive]
{
  background-color: 0.7 * $background-color + 0.3 * $text-color;
}

.to-document-link
{
  background-image: url(../images/ios-color-wand.svg);
}

.to-clipboard-link
{
  background-image: url(../images/archive.svg);
}

.show-qrcode-link
{
  background-image: url(../images/ios-barcode-outline.svg);
}

.notes-link
{
  background-image: url(../images/ios-paper-outline.svg);
}

.bump-revision-link
{
  background-image: url(../images/ios-refresh-empty.svg);
}

.password-remove-link
{
  background-image: url(../images/ios-close-outline.svg);
}

#password-menu
{
  display: flex;
  flex-direction: column;
  margin-top: $menu-arrow-height;
  border: $menu-border-width solid $text-color;
  border-radius: $block-padding;
  padding: $block-padding;
}

.menu-arrow
{
  position: relative;
  left: $icon-size / 2 - $menu-border-width - $block-padding - $menu-arrow-height;
  top: -($menu-arrow-height + $block-padding);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 $menu-arrow-height $menu-arrow-height $menu-arrow-height;
  border-color: transparent transparent $text-color transparent;
}

.menu-arrow::after
{
  $menu-arrow-inner-height: $menu-arrow-height - 1;
  content: "";
  position: relative;
  display: block;
  left: -$menu-arrow-inner-height;
  top: $menu-border-width;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 $menu-arrow-inner-height $menu-arrow-inner-height $menu-arrow-inner-height;
  border-color: transparent transparent $background-color transparent;
}

.password-menu-entry
{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: $font-size-small;
  color: $text-color;
  text-decoration: none;
}

.password-menu-entry:hover
{
  background-color: $hover-background;
}

.password-menu-entry > .iconic-link
{
  margin-inline-end: $inline-spacing;
  -webkit-margin-end: $inline-spacing;
}

#generate-password-link,
#legacy-password-link
{
  min-height: $icon-size;
  padding-inline-start: $icon-size + $inline-spacing;
  -webkit-padding-start: $icon-size + $inline-spacing;
  background-image: url(../images/ios-plus-outline.svg);
  background-size: $icon-size;
  background-repeat: no-repeat;
}

#generate-password-site,
#generate-password-user-name,
#length-container,
#charsets-container
{
  display: flex;
  justify-content: space-between;
}

#change-password-revision
{
  font-size: $font-size-small;
}

#password-revision-container:not([hidden])
{
  display: flex;
  flex-direction: column;
}

#password-length
{
  flex-grow: 1;
}

#password-length-value
{
  min-width: 3ch;
}

#qrcode-canvas
{
  align-self: center;
}

#notes-textarea
{
  min-height: 300px;
}
