/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

@import "../_shared.scss";

$greyed-color: #ccc;

:root
{
  margin: 0;
  min-width: 600px;
}

body
{
  margin: 0;
  padding: 0 10px;
}

h1
{
  font-size: 160%;
}

.setting
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: $block-spacing 0;
}

.setting:not(:last-child)
{
  border-bottom: 1px solid $greyed-color;
}

.setting-label
{
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 70%;
  margin-right: $block-spacing;
}

.description
{
  font-size: 80%;
  opacity: 0.5;
  padding-left: $block-spacing;
}

.setting input:not([type="checkbox"])
{
  flex-grow: 1;
  width: $font-size;
}
