/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

$font-family: "Helvetica Neue", helvetica, arial, sans-serif;

$text-color: #000;
$background-color: #fff;
$warning-background: #faa;
$success-background: #cfc;
$error-text: #f44;
$hover-background: #e2f4ff;
$greyed-color: #ccc;

@mixin no-appearance
{
  -moz-appearance: none;
  -webkit-appearance: none;
}

@mixin padding-inline-start($length)
{
  :root:not([dir="rtl"]) &
  {
    padding-left: $length;
  }

  :root[dir="rtl"] &
  {
    padding-right: $length;
  }
}

@mixin padding-inline-end($length)
{
  :root:not([dir="rtl"]) &
  {
    padding-right: $length;
  }

  :root[dir="rtl"] &
  {
    padding-left: $length;
  }
}

@mixin margin-inline-start($length)
{
  :root:not([dir="rtl"]) &
  {
    margin-left: $length;
  }

  :root[dir="rtl"] &
  {
    margin-right: $length;
  }
}

@mixin margin-inline-end($length)
{
  :root:not([dir="rtl"]) &
  {
    margin-right: $length;
  }

  :root[dir="rtl"] &
  {
    margin-left: $length;
  }
}

@mixin border-end($spec)
{
  :root:not([dir="rtl"]) &
  {
    border-right: $spec;
  }

  :root[dir="rtl"] &
  {
    border-left: $spec;
  }
}

@mixin float-end
{
  :root:not([dir="rtl"]) &
  {
    float: right;
  }

  :root[dir="rtl"] &
  {
    float: left;
  }
}

:root[data-size="1"]
{
  --font-size: 15px;
  --font-size-small: 10px;
}

:root[data-size="2"]
{
  --font-size: 20px;
  --font-size-small: 13.333px;
}

:root
{
  --font-size: 24px;
  --font-size-small: 16px;
  --block-spacing: calc(var(--font-size) * 0.625);
  --block-padding: calc(var(--block-spacing) / 3);
  --inline-spacing: calc(var(--block-spacing) / 3);
  --border-radius: var(--block-padding);
  --dialog-padding: calc(var(--block-spacing) * 4 / 3);
  --small-icon-size: var(--font-size-small);
  --text-icon-size: var(--font-size);
  --icon-size: calc(var(--font-size) * 4 / 3);
  --large-icon-size: calc(var(--font-size) * 2);
}

:root[data-size="4"]
{
  --font-size: 27px;
  --font-size-small: 18px;
}

:root[data-size="5"]
{
  --font-size: 30px;
  --font-size-small: 20px;
}

body
{
  background-color: $background-color;
  color: $text-color;
}

body,
input,
button
{
  font-family: $font-family;
  font-size: var(--font-size);
}

a
{
  text-decoration: none;

  &:hover
  {
    text-decoration: underline;
  }
}

a:focus
{
  /* Make sure outline is always visible, browsers normally won’t show it before Tab is pressed */
  outline: 1px dotted;
}

.warning
{
  background-color: $warning-background;
  border-radius: var(--border-radius);
  padding: var(--block-padding);

  @include padding-inline-start(calc(var(--icon-size) + var(--block-padding) + var(--inline-spacing)));
  background-image: url("../images/ionicons/md-warning.svg");
  background-size: var(--icon-size);
  background-position: var(--block-padding) var(--block-padding);
  background-repeat: no-repeat;
}

.success
{
  background-color: $success-background;
  border-radius: var(--border-radius);
  padding: var(--block-padding);
}

.error
{
  font-size: var(--font-size-small);
  color: $error-text;
}

.unknown-error-cancel
{
  @include float-end;
}

.unknown-error-details
{
  font-size: var(--font-size-small);
  white-space: pre-wrap;
}

.help-icon
{
  display: inline-block;
  cursor: help;
  width: var(--text-icon-size);
  height: var(--text-icon-size);
  background-size: var(--text-icon-size);
  background-repeat: no-repeat;
  background-image: url("../images/ionicons/md-help-circle-outline.svg");

  @media print
  {
    display: none;
  }
}

.size-selector
{
  @include float-end;
  padding: var(--block-padding);
  border: 1px solid #ccc;
  border-top-width: 0;

  @media print
  {
    display: none;
  }
}

.increase-size,
.decrease-size
{
  display: inline-block;
  min-width: var(--text-icon-size);
  min-height: var(--text-icon-size);
  background-size: var(--text-icon-size);
  background-repeat: no-repeat;
  margin: 1px;
}

.increase-size
{
  background-image: url("../images/increase-size.svg");
}

.decrease-size
{
  background-image: url("../images/decrease-size.svg");
}

input[type="checkbox"]
{
  width: var(--font-size);
  height: var(--font-size);
  border: 1px solid black;
  border-radius: 2px;
  margin: 0;
  @include margin-inline-end(var(--inline-spacing));
  @include no-appearance;
}

input[type="checkbox"]:checked
{
  background-image: url("../images/ionicons/md-checkmark.svg");
  background-size: calc(var(--font-size) - 4px);
  background-repeat: no-repeat;
  background-position: center;
}

.modalOverlay
{
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: var(--dialog-padding);
  z-index: 10000;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 70%);
}

.modalOverlay-inner
{
  margin: auto;
  background-color: $background-color;
  border: 1px solid black;
  border-radius: var(--border-radius);

  &.stretch
  {
    width: 100%;
  }

  & > :last-child
  {
    display: flex;
    flex-direction: column;
    padding: var(--dialog-padding);
  }

  &.cancelable > :last-child
  {
    padding-top: calc(max(var(--dialog-padding) - var(--small-icon-size) - var(--border-radius), 0));
  }
}

.modalOverlay-cancel-container
{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cancel
{
  display: inline-block;
  min-width: var(--small-icon-size);
  min-height: var(--small-icon-size);
  background-size: var(--small-icon-size);
  background-repeat: no-repeat;
  background-image: url("../images/ionicons/md-close.svg");

  &:hover
  {
    background-color: $hover-background;
  }
}

.modalOverlay-cancel-container > .cancel
{
  margin: var(--border-radius);
}

.modal-form
{
  display: flex;
  flex-direction: column;
  margin: 0;
}

.setting
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--block-spacing) 0;
}

.setting:not(:last-child)
{
  border-bottom: 1px solid $greyed-color;
}

.setting-label
{
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 70%;
  margin-right: var(--block-spacing);
}

.description
{
  font-size: 80%;
  opacity: 0.5;
  padding-left: var(--block-spacing);
}

.setting input:not([type="checkbox"])
{
  flex-grow: 1;
  width: var(--font-size);
}

.accessKeyMarker
{
  text-decoration: underline;
}

.accessKeyHint
{
  --size: calc(var(--icon-size) - 4px);
  --border-radius: 3px;
  --padding: 2px;
  position: absolute;
  display: flex;
  font-size: calc(var(--size) - var(--border-radius) * 2 - var(--padding) * 2);
  border: 1px solid black !important;
  border-radius: var(--border-radius);
  background-color: #ffffe0;
  text-decoration: underline;
  min-width: var(--size);
  min-height: var(--size);
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  z-index: 10001;
}
