/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size: 24px;
$font-size-small: 16px;

$text-color: #000;
$background-color: #fff;
$warning-background: #faa;
$success-background: #cfc;
$error-text: #f44;
$hover-background: #e2f4ff;
$greyed-color: #ccc;

$block-spacing: 15px;
$block-padding: 5px;
$inline-spacing: 5px;
$border-radius: $block-padding;
$dialog-padding: 20px;

$small-icon-size: $font-size-small;
$text-icon-size: $font-size;
$icon-size: 32px;
$large-icon-size: 48px;

@mixin no-appearance
{
  -moz-appearance: none;
  -webkit-appearance: none;
}

@mixin padding-inline-start($length)
{
  :root:not([dir="rtl"]) &
  {
    padding-left: $length;
  }

  :root[dir="rtl"] &
  {
    padding-right: $length;
  }
}

@mixin padding-inline-end($length)
{
  :root:not([dir="rtl"]) &
  {
    padding-right: $length;
  }

  :root[dir="rtl"] &
  {
    padding-left: $length;
  }
}

@mixin margin-inline-start($length)
{
  :root:not([dir="rtl"]) &
  {
    margin-left: $length;
  }

  :root[dir="rtl"] &
  {
    margin-right: $length;
  }
}

@mixin margin-inline-end($length)
{
  :root:not([dir="rtl"]) &
  {
    margin-right: $length;
  }

  :root[dir="rtl"] &
  {
    margin-left: $length;
  }
}

@mixin border-end($spec)
{
  :root:not([dir="rtl"]) &
  {
    border-right: $spec;
  }

  :root[dir="rtl"] &
  {
    border-left: $spec;
  }
}

@mixin float-end
{
  :root:not([dir="rtl"]) &
  {
    float: right;
  }

  :root[dir="rtl"] &
  {
    float: left;
  }
}

body
{
  background-color: $background-color;
  color: $text-color;
}

body,
input,
button
{
  font-family: $font-family;
  font-size: $font-size;
}

a
{
  text-decoration: none;

  &:hover
  {
    text-decoration: underline;
  }
}

.warning
{
  background-color: $warning-background;
  border-radius: $border-radius;
  padding: $block-padding;

  @include padding-inline-start($icon-size + $block-padding + $inline-spacing);
  background-image: url(../images/ionicons/md-warning.svg);
  background-size: $icon-size;
  background-position: $block-padding $block-padding;
  background-repeat: no-repeat;
}

.success
{
  background-color: $success-background;
  border-radius: $border-radius;
  padding: $block-padding;
}

.error
{
  font-size: $font-size-small;
  color: $error-text;
}

.unknown-error-cancel
{
  @include float-end;
}

.unknown-error-details
{
  font-size: $font-size-small;
  white-space: pre-wrap;
}

.help-icon
{
  display: inline-block;
  cursor: help;
  width: $text-icon-size;
  height: $text-icon-size;
  background-size: $text-icon-size;
  background-repeat: no-repeat;
  background-image: url(../images/ionicons/md-help-circle-outline.svg);

  @media print
  {
    display: none;
  }
}

input[type="checkbox"]
{
  width: $font-size;
  height: $font-size;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0;
  @include margin-inline-end($inline-spacing);
  @include no-appearance;
}

input[type="checkbox"]:checked
{
  background-image: url(../images/ionicons/md-checkmark.svg);
  background-size: $font-size - 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.modalOverlay
{
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: $dialog-padding;
  z-index: 10000;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modalOverlay-inner
{
  margin: auto;
  background-color: $background-color;
  border: 1px solid black;
  border-radius: $border-radius;

  &.stretch
  {
    width: 100%;
  }

  & > :last-child
  {
    display: flex;
    flex-direction: column;
    padding: $dialog-padding;
  }

  &.cancelable > :last-child
  {
    padding-top: max($dialog-padding - $small-icon-size - $border-radius, 0);
  }
}

.modalOverlay-cancel-container
{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cancel
{
  display: inline-block;
  min-width: $small-icon-size;
  min-height: $small-icon-size;
  background-size: $small-icon-size;
  background-repeat: no-repeat;
  background-image: url(../images/ionicons/md-close.svg);

  &:hover
  {
    background-color: $hover-background;
  }
}

.modalOverlay-cancel-container > .cancel
{
  margin: $border-radius;
}

.modal-form
{
  display: flex;
  flex-direction: column;
  margin: 0;
}

.setting
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: $block-spacing 0;
}

.setting:not(:last-child)
{
  border-bottom: 1px solid $greyed-color;
}

.setting-label
{
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 70%;
  margin-right: $block-spacing;
}

.description
{
  font-size: 80%;
  opacity: 0.5;
  padding-left: $block-spacing;
}

.setting input:not([type="checkbox"])
{
  flex-grow: 1;
  width: $font-size;
}

.accessKeyMarker
{
  text-decoration: underline;
}

.accessKeyHint
{
  $size: $icon-size - 4px;
  $border-radius: 3px;
  $padding: 2px;
  position: absolute;
  display: flex;
  font-size: $size - $border-radius * 2 - $padding * 2;
  border: 1px solid black !important;
  border-radius: $border-radius;
  background-color: #ffffe0;
  text-decoration: underline;
  min-width: $size;
  min-height: $size;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  z-index: 10001;
}
