/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

#background,
#panel,
#allpasswords
{
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  border-width: 0;
}

#panel[data-active="true"],
#allpasswords[data-active="true"]
{
  display: block;
}

#allpasswords
{
  left: 0;
  width: 100%;
}

#panel
{
  width: 620px;
  left: calc((100% - 620px) / 2);
}
